@use './partials/variables' as *;
@import 'bootstrap/scss/bootstrap';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
	--light: #ffffff;
  --light-blue: #0282f9;
  --dark: #1c1c1c;
  --light-grey: #797979;
}